.navbar{
    height: 50px;
    border-bottom: .5px solid rgb(236, 233, 233);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    .wrapper{
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-between;
        width: 100%;
        .search{
            display: flex;align-items: center;
            padding: 3px;
            border: .5px solid lightgray;



            input{
                border: none;
                outline: none;
                background: transparent;
                &::placeholder{
                    font-size: 12px;
                }
            }
        }

        .items{
            display: flex;
            align-items: center;

            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;
                .icon{
                    font-size: 20px;
                    cursor: pointer;
                }
                .avatar{
                    cursor: pointer;
                    height: 40px;
                    width: 40px;
                }
                .counter{
                    height: 15px;
                    width: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;

                }
            }
        }
    }
}